{
    "config_root": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav3",
    "federated_only": true,
    "checksum_public_address": "0x5f49042Fb55a5FD8741b76F23673ebC2Db5E3834",
    "keyring_dir": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav3/keyring",
    "domains": [
        "TEMPORARY_DOMAIN"
    ],
    "learn_on_same_thread": true,
    "abort_on_learning_error": false,
    "start_learning_now": false,
    "save_metadata": true,
    "node_storage": {
        "storage_type": "local",
        "storage_root": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav3/known_nodes",
        "metadata_dir": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav3/known_nodes/metadata",
        "certificates_dir": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav3/known_nodes/certificates"
    }
}