{
    "config_root": "/home/arvind/Documents/ethDenver/umbral/alice/arvind",
    "federated_only": true,
    "checksum_public_address": "0xecce63dc0026d75D2d0c5Df72736dedf399Ce200",
    "keyring_dir": "/home/arvind/Documents/ethDenver/umbral/alice/arvind/keyring",
    "domains": [
        "TEMPORARY_DOMAIN"
    ],
    "learn_on_same_thread": true,
    "abort_on_learning_error": false,
    "start_learning_now": false,
    "save_metadata": true,
    "node_storage": {
        "storage_type": "local",
        "storage_root": "/home/arvind/Documents/ethDenver/umbral/alice/arvind/known_nodes",
        "metadata_dir": "/home/arvind/Documents/ethDenver/umbral/alice/arvind/known_nodes/metadata",
        "certificates_dir": "/home/arvind/Documents/ethDenver/umbral/alice/arvind/known_nodes/certificates"
    }
}