{
    "config_root": "/home/arvind/Documents/ethDenver/umbral/alice/pranav",
    "federated_only": true,
    "checksum_public_address": "0xACffe76E567B8BAaccDc344F2aFDFD6863ef42dB",
    "keyring_dir": "/home/arvind/Documents/ethDenver/umbral/alice/pranav/keyring",
    "domains": [
        "TEMPORARY_DOMAIN"
    ],
    "learn_on_same_thread": true,
    "abort_on_learning_error": false,
    "start_learning_now": false,
    "save_metadata": true,
    "node_storage": {
        "storage_type": "local",
        "storage_root": "/home/arvind/Documents/ethDenver/umbral/alice/pranav/known_nodes",
        "metadata_dir": "/home/arvind/Documents/ethDenver/umbral/alice/pranav/known_nodes/metadata",
        "certificates_dir": "/home/arvind/Documents/ethDenver/umbral/alice/pranav/known_nodes/certificates"
    }
}