{
    "config_root": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav_bob",
    "federated_only": true,
    "checksum_public_address": "0xEb6EB6A9c765Cec7aBA4b93a25d6db463Bd5c945",
    "keyring_dir": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav_bob/keyring",
    "domains": [
        "TEMPORARY_DOMAIN"
    ],
    "learn_on_same_thread": true,
    "abort_on_learning_error": false,
    "start_learning_now": false,
    "save_metadata": true,
    "node_storage": {
        "storage_type": "local",
        "storage_root": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav_bob/known_nodes",
        "metadata_dir": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav_bob/known_nodes/metadata",
        "certificates_dir": "/Users/crypticzombie/Desktop/ethDenver/umbral/alice/pranav_bob/known_nodes/certificates"
    }
}